body{
    font-family: sans-serif; 
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(168,132,54,1) 97%); 
    box-sizing: border-box;
  }
   
  form{
     background-color: rgb(224, 223, 223);
     border-radius: 10px;
     color: rgb(255, 255, 255);
     font-size: 14px;
     padding: 20px;
     margin: 0 auto;
     width: 300px;
  }
  input{
     border-radius: 3px;
     outline: none;
     margin-bottom: 10px;
   
     width: 280px;
     height: 30px;
  }
  .inputcss{
     border: solid 1px #ccc;
     padding: 10px;
  }
  .inputcss:focus{
     border-color:  rgb(124, 193, 250);
  }
  .center-content{
     text-align: center;
  }
  h1{
     text-align: center;
     color: rgb(24, 48, 34);
  }
  button {
      width: 6rem;
      padding: .5rem;
      background-color:#468360;
      border-radius: .5rem;
  }